body {
    margin: 0;
    padding: 0;
    background-color: darkcyan;
}
#main-interface {
    animation: mainAni 1s ease;
}
@keyframes mainAni {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.mainhead {
    background: linear-gradient(to right, lightcyan, darkcyan);
    box-shadow: 0px 0px 10px black;
    color: orange;
    display: flex;
    font-family: cursive;
    justify-content: space-between;
    align-items: center;
    text-shadow: 2px 2px 4px red;
}
.mainhead button {
    margin-right: 10px;
    border: none;
    background: none;
    color: white;
    transition: 0.2s ease-in-out;
}
.mainhead button:hover {
    color: orange;
}
.border-frame {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
}
.border-frame input {
    border-radius: 5px;
    padding-left: 10px;
    outline: none;
}
.logout {
}